.ContactUs{
  background-image: url(../../../public/images/1-x-8d3.jpg);
   overflow: hidden;
  scrollbar-width: none;
  background-repeat: no-repeat;
  height: 1000px;
  background-size: 100%;
}
h1{
  color: whitesmoke;
}