.modal {
  position: fixed;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

  &__wrapper {
    padding: 2rem;
    background-color: #333333b9;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    border-radius: 16px;
    overflow: auto;
  }

  &__title {
    font-size: 2rem;
    color: whitesmoke;
    font-weight: 900;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;

    > input {
      padding: 1rem;
      margin-bottom: 20px;
      border-radius: 0.5rem;
      border: none;
      font-size: 1rem;
      margin-top: 30px;

      &::placeholder {
        letter-spacing: 0.5px;
      }
    }

    > textarea {
      resize: none;
      border-radius: 0.5rem;
      padding: 10px;
      font-size: 1rem;
      font-family: Raleway;

      &::placeholder {
        font-weight: 500;
      }
    }
  }

  .form-modal {
    &__downloadedImage {
      max-height: 200px;
      width: 50%;
      margin: 0 auto;
      object-fit: cover;
      object-position: center;
      border-radius: 0.8rem;
    }

    &__image {
      width: 100%;
      position: relative;
      margin-bottom: 10px;

      & > [type="file"] {
        opacity: 0;
        z-index: 6;

        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        z-index: 99;
        height: 40px;

        cursor: pointer;
        &.hidden {
          display: none;
          & ~ button {
            display: none;
          }
        }
      }

      > button {
        padding: 0.5rem 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        font-weight: 700;
        font-family: Raleway;
        border-radius: 0.6rem;
        border: none;
      }
    }
  }

  &__btns {
    display: flex;
    column-gap: 30px;

    > button {
      border: none;
      padding: 0.7rem 3rem;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 800;
      font-family: inherit;
      color: whitesmoke;

      &:hover {
        transition: all 0.23s ease 0s;
      }

      &.btns-modal__save {
        background-color: rgba(0, 174, 0, 0.7);
        &:hover {
          background-color: rgba(0, 174, 0, 0.5);
        }
      }
      &.btns-modal__cancel {
        background-color: red;
        &:hover {
          background-color: rgb(177, 0, 0);
        }
      }
    }
  }

  &__error {
    color: whitesmoke;
    padding: .5rem;
    width: 70%;
    border-radius: 1rem;
    font-weight: 700;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.724);
    &-hidden {
      display: none;
    }
  }
}
