.App {
  max-width: 1440px;
  margin: 150px auto;
  &__title {
    text-align: center;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 30px;
    & > div {
      border: 2px solid #b9b6b6;
      padding: 3em 1em;
      flex-basis: 32%;
      min-height: 350px;
      border-radius: 4px;
      text-align: center;

      p {
        width: 90%;
        margin: 16px auto;
        color: grey;
        font-size: 18px;
        line-height: 1.6;
      }
    }
  }
  &__btn {
    margin-top: 40px;
    padding: 4px 0px;
    border: 0;
    border-bottom: 3px solid #111;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
    font-weight: 600;
    font-size: 18px;
  }
  &__extra {
    overflow: hidden;
    max-height: 0;
    user-select: none;
    opacity: 0;
    transition: 0.3s;
    &-active {
      max-height: 200px;
      user-select: auto;
      opacity: 1;
    }
  }
}
