.About{
  overflow: hidden;
  scrollbar-width: none;
  background-repeat: no-repeat;
  height: 1000px;
  background-size: 100%;
  background-image: url(../../../public/images/bc235b5f8eccf0d772ba711995897dd1.jpeg);
  h1{
    color: dimgray;
  }
}