.slick {
  &-slider {
    height: 550px;
    width: 90%;
    margin: 30px auto;
  }
  &-list {
    height: 100%;
  }
  &-track {
    height: 100%;
  }
  &-slide {
    height: 100%;
    div {
      height: 100%;
        .forest {
        height: 100%;
        &__img {
          padding: 20px;
          height: 50%;
          position: relative;
          img {
            width: 500px;
            height: 100%;
            position: absolute;
            object-fit: cover;
            height: 100%;
            inset: 0 0 0 0;
          }
        }
      }
    }
  }
}

.slick-prev:before,
.slick-next:before {
  color: red;
  font-size: 40px;
  margin: -100%;
}