.App{
  button{
    padding: 0.6em 1em;
    border-radius: 8px;
    border: none;
    color: #fff;
    background-color: royalblue;
    font-size: 18px;
    transition: 0.4s;
    cursor: pointer;
    &:hover{
      scale: 0.9;
    }
  }
  padding: 2em;
  &__todos{
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    h2{
      color: #fff;
    }
    div {
      padding: 1rem;
      border-radius: 12px;
      background: linear-gradient(329deg, rgba(0,82,255,1) 16%, rgba(0,219,255,1) 83%);
    }
  }
  &__products{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    div{
      position: relative;
      border: 1px solid black;
      padding: 1rem;
      flex-basis: 35%;
      border-radius: 10px;
      text-align: justify;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      h2{
        color: black;
        font-size: 25px;
        text-align: center;
      }
      p{
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        color: green;
      }
      img{
        margin: auto;
        width: 500px;
        height: 200px;
        object-fit: contain;
      }
      button{
        position: absolute;
        right: 15px;
        border: 0;
        background: transparent;
        i{
          font-size: 26px;
          color: red;
          cursor: pointer;
        }
      }
  } }
}