@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.App{
  // border: 1px solid black;
  width: 45%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  margin-top: 50px;
  .form{
   &__group{
    position: relative;
    bottom: 120px;
    margin-bottom: 30px;
    span{
      position: absolute;
      top: 18px;
      right: 18px;
      font-size: 25px;
    }
    input{
      opacity: 0.8;
      border-radius:6px;
      width: 500px;
      height: 70px;
      font-size: 20px;
      padding-left: 12px;
      }
    }
    &__title{
      font-size: 18px;
      opacity: 0.8;
    }
    &__submit{
      display: flex;
      justify-content: center;
      input{
        border: 1px solid whitesmoke;
        position: relative;
        bottom: 90px;
        width: 500px;
        height: 60px;
        border-radius: 35px;
        font-size: 20px;
        background-color: rgba(3, 142, 3, 0.763);
        color: whitesmoke;
        font-family: "Roboto Condensed", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
      }
    }
    &__login{
      display: grid;
      justify-content: center;
      
      &-facebook{
        text-align: center;
        margin-bottom: 10px;
        position: relative;
        input{
          border: 1px solid grey;
          border-radius: 26px;
          width: 350px;
          height: 40px;
          font-family: "Roboto Condensed", sans-serif;
          font-optical-sizing: auto;
          font-weight: weight;
          font-style: normal;
          font-size: 18px;
        }
        span{
          position: absolute;
          left: 70px;
          top: 2px;
          color: blue;
          font-size: 24px;
        }
      }
      &-google{
        text-align: center;
        position: relative;
        input{
          border: 1px solid grey;
          border-radius:26px ;
          width: 350px;
          height: 40px;
          font-family: "Roboto Condensed", sans-serif;
          font-optical-sizing: auto;
          font-weight: weight;
          font-style: normal;
          font-size: 18px;
        }
        span{
          position: absolute;
          left: 70px;
          font-size: 24px;
          top: 5px;
          color: red;
        }
      }
    }
  }
  }
