.App{
  width: 500px;
  height: 500px;
  background-color: rgb(12, 12, 51);
  border: 5px solid white;
  border-radius: 20px;
  margin-left: 500px;
  margin-top: 100px;

  &__title{
    font-size: 48px;
    color: whitesmoke;
    text-align: center;
    padding-top: 50px;
  }
  &__text{
    display: flex;
    width: 380px;
    height: 40px;
    margin-top: 70px;
    font-size: 20px;
    margin-left: 50px;
  }
  &__password{
    margin-left: 50px;
    margin-top: 40px;
    display: flex;
    width: 380px;
    height: 40px;
    font-size: 20px;
  }
  &__btn{
    color: whitesmoke;
    border-radius: 6px;
    margin-left: 330px;
    margin-top: 60px;
    width: 100px;
    height: 40px;
    background-color:grey;
  }


}