.content {
  margin-top: 2rem;
  &__array {
    font-size: 5rem;
    margin-bottom: 2rem;
    letter-spacing: 20px;

    &::selection {
      background-color: gold;
      color: #333;
    }
  }
  text-align: center;
  button {
    padding: .8rem 1.2rem;
    background-color: #102C57;
    color: #E1F7F5;
    border: 2px solid #0E46A3;
    border-radius: .4rem;
    outline: none;
    transition: all .23s ease 0s;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2rem;
    user-select: none;
    &:hover {
      background-color: #0E46A3;
      color: whitesmoke;
    }
    &:not(:last-child) {
      margin-right: 1rem;
    }
    &.reload-btn {
      background-color: #EE4266;
      border: 2px solid #FFCAD4;
      display: block;
      margin: 2rem auto;
      transition: all .23s ease 0s;

      &:hover {
        background-color: #FF204E;
      }
    }
  }
}
