.Contact {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: url('../../../../../public/images/mount\ \(2\).jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}