.Home {
  text-align: center;
  color: white;
  &__content {
  background-image: url("https://i.pinimg.com/originals/91/62/7e/91627e8d4506242920eaee3c256e51b5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 15rem;
  }
}