@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


header{
  position: absolute;
  width: 100%;
  padding: 1em 2em;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  nav{
    width: 40%;
    height: 100%;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  ul{
    margin-right: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    gap: 100px;
    white-space:nowrap;
    margin-top: 15px;
  }
  li{
    font-size: 22px;
    font-weight: 700;
  }
  .Bahery{
    background-color: black;
    width: 140px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      font-size: 32px;
      text-decoration: none;
      color: whitesmoke;
      font-family: "Lobster", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }
}