
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.Header {

  display: flex;
  justify-content: space-between;
  padding-inline: 50px;
  gap: 20px;
  align-items: center;
  &__logo {
  margin: 20px;
  color: #111;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  background-color: #fff;
  font-size: 24px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  }
  &__menu {
    display: flex;
    gap: 70px;
    align-items: center;
    flex-wrap: wrap;
    color: #111;
    font-weight: 700;
  }
}


  header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
