.App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 200px;
    min-height: 100vh;
    footer {
        background-color: ghostwhite;
        padding: 2em;
        text-align: center;
        border: 5px solid royalblue;
    }
}