.Posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  align-content: start;
  form {
    flex-basis: 100%;
    margin-bottom: 14px;
    input {
      padding: 1em;
      width: 100%;
      font-size: 20px;
    }
  }
  & > a {
    padding: 1em;
    border-radius: 12px;
    color: #fff;
    background-image: linear-gradient(to top right, #0d9488, #042f2e);
    flex: 1 1 47%;
    h2 {
      font-weight: 100;
    }
  }
}
