.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__btn {
    display: flex;
    button {
      background-color: rgba(32, 32, 222, 0.872);
      display: block;
      padding: 0.9rem 2rem;
      cursor: pointer;
      margin: 10px;
      border: 0;
      border-radius: 12px;
      color: #fff;
    }
    button:disabled {
      background-color: gray;
    }
  }
}