.Todos {
  &__title {
    padding: 1em;
  }
  
  &__info {
      & > li {
      padding: 1em;
      margin: 10px;
      max-width: 450px;
      background-color: rgb(255, 30, 0);
      color: #fff; 
      font-size: 20px;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.23s;
    }
    & > li:hover {
      scale: 1.1;
    }
  }  
}