@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

header{
  background-image: url(https://i.ytimg.com/vi/Tya4DrK6dZs/maxresdefault.jpg);
  background-size: cover;
  width: 100%;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  .logo{
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 70px;
    background-color: black;
    a{
      text-decoration: none;
      color: whitesmoke;
      font-size: 32px;
      text-decoration: none;
      font-family: "Anton", sans-serif;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 2px;
    }
  }
  ul{
    margin-right: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    gap: 50px;
    white-space:nowrap;
    margin-top: 15px;

    li{
      color: black;
      list-style: none;
      font-size: 22px;
      font-weight: 700;
      a{
        color: whitesmoke;
        &.active{
          color: whitesmoke;
          text-decoration: underline;
          text-underline-offset: 5px;
        }
      }
    }
  }
}