@import url(https://fonts.googleapis.com/css?family=Raleway:300,regular,500,600,700,800,900);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}