.App{
    font-size: 30px;
    margin: 50px auto;
    caption{
        font-weight: 700;
        font-size: 40px;
    }
    th{
        text-align: center;
        border-top: 3px solid grey;
        border-bottom: 3px solid grey;
        width: 200px;
        padding-block: 20px;
        font-weight: 900;
        &:first-child{
            width: 400px;
            text-align: left;
        }
    }
    td{
        border-bottom: 1px solid gray;
        padding-block: 20px;
        text-align: center;
        &:first-child {
            width: 400px;
            text-align: left;
        }
    }
    button{
        background-color: red;
        font-weight: 800;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.3s;
        border: 0;
        &:hover{
            scale: 1.1;
        }
        &:active{
            background-color: royalblue;
        }
    }
}