.Contact{
    background-image: url(https://hedenkamp.files.wordpress.com/2020/05/contact-us_hero-image-1-1280x640-1.jpg);
    object-fit: cover;
    color: #fff;
    text-align: center;
    h1{
        font-size: 40px;
    }
}