.Home{
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image:url(../../../public/images/orig.webp);
  min-height: 800px; 
}
h1{
  position: relative;
  top: 250px;
  left: 650px;
  color: whitesmoke;
  font-size: 60px;
}
