.App {
    padding: 2em;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    form {
      margin: 0 auto;
      width: 50%;
      padding: 20px;
      input {
        width: 100%;
        padding:  1em;
        margin-top: 10px;
        border-radius: 4px;
      }
      input[type='submit'] {
        border: 0;
        padding: 0.6em 1em;
        width: 120px;
        background-color: #1d1d1d;
        color: #fff;
        font-size: 19px;
      }
  }
  table {
      width: 100%;
      color: #fff;
      font-size: 20px;
      border-collapse: collapse;
      background-color: black;
    }
}