.Contact {
  background-image: url("https://images.wallpapersden.com/image/download/rising-sun-at-mountains-4k-background_bmZobGyUmZqaraWkpJRobWllrWdma2U.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  line-height: 500px;
  height: 500px;
}