.Contact {
  text-align: center;
  color: white;
  &__content {
  background-image: url("https://static.nationalgeographic.co.uk/files/styles/image_3200/public/gettyimages-1175707040_web.jpg?w=1600&h=900");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 15rem;
  }
}