.Products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  & > div {
    flex-basis: 30%;
    padding: 1em;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    & > a {
      display: flex;
      flex-direction: column;
      align-items: center;
      & > img {
        width: 250px;
        height: 250px;
        object-fit: contain;
        transition: .5s;
        scale: 0.7;
        border-radius: 50%;
        &:hover {
          scale: 1;
        }
      }
      & > h2 {
        font-weight: 300;
      }
    }
  }
}