.OurProducts{
    overflow: hidden;
  scrollbar-width: none;
  background-repeat: no-repeat;
  height: 1000px;
  background-size: 100%;
  background-image: url(../../../public/images/sports-landscape-mountains-nature-photography-clouds-sunrise-mist-shrubs-wilderness-dry-grass-Bosnia-and-Herzegovina-hiking-walking-summit-ridge-cloud-mountain-adventur.jpg);
  h1{
    color: rgb(255, 255, 255);
    position: relative;
    left: 550px;
    top: 200px;
  }
}