body{
  background-color: purple;
}

.Product{
  margin: 50px auto;
  margin-top: 200px;
  width: 1000px;
  padding: 2em;
  color: #000;
  &__content{
    display: flex;
    gap: 20px;
    border-radius: 8px;
    background-color: #eee;
    img{
      width: 600px;
      height: 400px;
      object-fit: contain;
    }
    a{
      margin: auto;
      margin-top: 30px;
      font-size: 20px;
      color: inherit;
      text-decoration: underline;
      text-align: center;
      &:hover{
        color: purple;
      }
    }
  }
  &__text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    h2{
      font-weight: 800;
      text-align: center;
      color: purple;
    }
    p{
      font-size: 18px;
      text-align: justify;
      color: black;
    }
    span{
      font-size: 24px;
      color: rgb(50, 152, 55);
      font-weight: 800;
    }
  }
  &__category{
    font-size: 25px;
    color: black;
    text-align: center;
  }
}