.App {
  width: 500px;
  border-bottom: 20px solid #03a9f4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  h2 {
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  ul {
    position: relative;
    background: #fff;
  }
  ul:hover li {
    opacity: 0.2;
  }
  ul li {
    list-style: none;
    padding: 4px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
  }
  ul li:hover {
    transform: scale(1.1);
    z-index: 5;
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 1;
  }
    button {
        background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
        border: 0;
        border-radius: 12px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 2.5;
        outline: transparent;
        margin: 12px;
        padding: 0 1rem;
        text-align: center;
        text-decoration: none;
        transition: box-shadow .2s ease-in-out;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
    }
    
    button:not([disabled]):focus {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }
    
    button:not([disabled]):hover {
        box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }
}

.C {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}

.title {
    padding: 10px;
    width: 250px;
    height: 60px;
    color: #fff;
    cursor: pointer;
    border-radius: 16px;
    background: transparent;
    border: 4px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  .title:hover {
    transition: 1s ease-in-out;
    background: #25bcff;
  }
  
  .title:hover svg {
    stroke-dashoffset: -480;
  }
  