@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");

.Todo {
  flex-shrink: 0;
  font-family: "Cabin Sketch", sans-serif;
  flex-basis: 48%;
  background-image: linear-gradient(to right, rgb(192, 88, 123), rgb(170, 86, 61));
  color: rgb(26, 19, 35);
  padding: 1em;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  transition: scale 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &:active {
    scale: 0.97;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset;
  }
  &__status {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 12px;
    right: 12px;
    border: 2px solid #fff;

    &-green {
      background-color: green;
    }
    &-red {
      background-color: #ff0404;
    }
  }
  &__title {
  }
}
