.News{
  background-image: url(../../../public/images/15505893492485.jpg);
  overflow: hidden;
  scrollbar-width: none;
  background-repeat: no-repeat;
  height: 800px;
  background-size: 100%;
  h1{
    color: whitesmoke;
  }
}