body{
    background-image: url(https://cdnsm5-ss12.sharpschool.com/UserFiles/Servers/Server_1023780/Image/News.jpg);
}

.News{
    object-fit: cover;
    color: #fff;
    text-align: center;
    h1{
        font-size: 40px;
    }
}