.User{
  &__title{
    text-align: center;
    color: #fff;
  }
  &__comments{
    display: flex;
    gap: 30px;
    justify-content: center;
    place-content: center;
    flex-wrap: wrap;
    text-align: center;
    div{
      padding: 1em;
      border-radius: 10px;
      flex-basis: 30%;
      cursor: pointer;
      background: linear-gradient(329deg, rgba(0,82,255,1) 16%, rgba(0,219,255,1) 83%);
      color: whitesmoke;
      border-image: url(https://i.stack.imgur.com/sjbeu.png) 33 / 20px / 13px stretch;
      transition: 0.3s;
      &:hover{
        scale: 1.02;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      }
    }
  }
}