* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    background-image: url('https://media.istockphoto.com/id/1490261842/photo/social-discussion.jpg?s=2048x2048&w=is&k=20&c=OZ_RmCjZF4Aj-3l27PHp0ei0Iv6GPkHoMJe5ZUgqiEo=');
  }