body{
	background-color: dimgray;
}

.App{
  margin: 50px auto;
  .form{
    background-color: #fff;
    margin: 20px auto;
    width: 600px;
    border-radius: 10px;
		border: 0;
    padding: 1em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
		h1{
 		 color: royalblue;
    }
    span p{
    margin-top: 20px;
    margin-bottom: 20px;
    }
    &__group{
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 15px;
      input{
        border-radius: 5px;
        padding: 1.3rem;
        border: 2px solid gray;
        &[type='submit']{
          border-radius: 28px;
          border: 0;
          cursor: pointer;
          background-color: rgb(92, 234, 92);
          color: #fff;
          font-size: 22px;
        }
      }
      &-password{
        position: relative;
        span{
      	  position: absolute;
      	  right: 20px;
      	  top: 43px;
      	  font-size: 28px;
      	}
      }
    }
    &__inet{
      display: flex;
      flex-direction: column;
      margin: auto;
      gap: 15px;
      width: 50%;
      button{
        cursor: pointer;
        border-radius: 23px;
        border: 2px solid gray;
      }
      .form__btn{
        position: relative;
        color: royalblue;
        transition: 0.3s;
        &:hover{
          background-color: royalblue;
          color: #fff;
          &.bi-facebook{
            color: #fff;
          }
        }
      }
      .form__btn-2{
        position: relative;
        transition: 0.3s;
        &:hover{
          background-color: black;
          color: #fff;
        }
      }
      .bi-facebook, .bi-google{
        position: absolute;
        top: 8px;
        left: 45px;
        font-size: 25px;
      }
    }
  }
}