header {
  width: 100%;
  background-color: #1d1d1d;
  padding: 1em 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  nav {
    width: 40%;
    min-width: 300px;
    height: 100%;
    ul {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 20px;
      height: 100%;
      li {
        font-size: 20px;
        a {
          &.active__link {
            padding-bottom: 10px;
            color: rgb(72, 233, 23);
            text-decoration: overline underline;
            text-underline-offset: 10px;
          }
        }
      }
    }
  }
  .logo {
    font-size: 2em;
    color: #fff;
    a {
      letter-spacing: 3px;
      color: inherit;
    }
  }
}
