.Title {
  font-size: 40px;
  border-radius: 16px;
  margin: 20px auto;
  padding: 1em;
  &-dark {
    background-color: #111;
    color: whitesmoke;
  }
  &-light {
    background-color: #d4d4d4;
    color: #111;
  }
  &-center {
    text-align: center !important;
  }
  &-right {
    text-align: right !important;
  }
}