body {
  background-image: url("https://as2.ftcdn.net/v2/jpg/04/60/71/01/1000_F_460710131_YkD6NsivdyYsHupNvO3Y8MPEwxTAhORh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}