.Comments {
  padding: 0.3em;
    width: 810px;
    height: 600px;
    border: 2px solid black;
    border-radius: 12px;
    overflow: scroll;
    &__title {
    padding: 1em;
  }
  &__info > ul  {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;

    & > li {
      width: 800px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border: 3px solid black;
      border-radius: 12px;

      & > p {
        width: 700px;
        padding: 0.3em;
      }

      & > div {
        display: flex;
        justify-content: space-around;

      }

    }

  }
}