.Blog {
  text-align: center;
}
.Container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.Container > div {
  padding: 10px;
  height: 400px;
  width: 400px;
  border: 1px solid black;
}

.Container_div > span {
  color: #B4B4B4;
}

.Container_div > button {
  margin-top: 30px;
  border: none;
  background-color: #fff;
  border-bottom: 2px solid black;
  cursor: pointer;
}

h2 {
  overflow: hidden;
}

p {
  overflow: hidden;
}

p.hide {
  max-height: 0;
  transition: max-height 0.3s;
}

p.active {
  max-height: 250px;
  transition: max-height 0.3s;
}