.Product {
  display: flex;
  border: 1px solid black;
  gap: 20px;
  width: 70%;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &__img {
    width: 300px;
    padding: 1em;
    & > img {
      width: 300px;
      height: 400px;
      object-fit: contain;
    }
  }
  &__desc {
    flex-direction: column;
    & > p {
      font-size: 20px;
    }
  }
}

.Link {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  color: royalblue;
}