.Contact {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  color: rgb(47, 207, 207);
  flex-direction: column;
  height: 100vh;
  background-image: url('../../../../../public/images/mount\ \(2\).jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}