.App {
  padding: 2em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 500px 1fr;
  min-height: 100vh;
  form {
    padding: 20px;
    input {
      width: 100%;
      padding: 1em;
      margin-top: 10px;
      border-radius: 4px;
    }
  }
  .error {
    color: red;
  }
  .table {
    table {
      width: 100%;
      color: #fff;
      font-size: 20px;
      border-collapse: collapse;
      background-color: grey;
      thead {
        background-color: #1d1d1d;
      }
      th {
        text-align: left;
      }
      th > button {
        background-color: red;
        color: #fff;
        padding: 0.6em 1em;
        border: 0;
        border-radius: 8px;
        float: right;
      }
      th,
      td {
        padding: 0.6rem 1rem;
        border: 1px solid #fff;
      }
      tr {
        &.row {
          &-javascript:hover {
            background-color: rgb(186, 186, 33);
          }
          &-react:hover {
            background-color: royalblue;
          }
          &-css:hover {
            background-color: rgb(29, 125, 125);
          }
          &-html:hover {
            background-color: orangered;
          }
          &-node:hover {
            background-color: green;
          }
        }
      }
    }
  }
}
