.App {
  padding: 2em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 500px 1fr;
  min-height: 100vh;
  form {
    padding: 20px;
    input {
      width: 100%;
      padding: 1em;
      margin-top: 10px;
      border-radius: 4px;
    }
  }
  .error {
    color: red;
  }
  .table {
    table {
      width: 100%;
      color: #fff;
      font-size: 20px;
      border-collapse: collapse;
      background-color: grey;
      thead {
        background-color: #1d1d1d;
      }
      th {
        text-align: left;
      }
      th,
      td {
        padding: 0.6rem 1rem;
        border: 1px solid #fff;
      }
      tr {
        &.row {
          &-javascript {
            background-color: rgb(186, 186, 33);
            color: #000;
          }
          &-react {
            background-color: royalblue;
          }
          &-css {
            background-color: rgb(29, 125, 125);
          }
          &-html {
            background-color: #b54141;
            color: #000;
          }
          &-node {
            background-color: green;
            color: #fff;
          }
        }
      }
    }
  }
}
