.App {
  max-width: 1440px;
  user-select: none;
  &__title {
    font-size: 16px;
  }
  &__content {
    text-align: center;
    width: 900px;
    border-collapse: collapse;
    border: 1px solid black;
    & > th, td {
      border: 1px solid black;
      padding: 1em;
    }
    & > th, td:hover {
      background-color: gray;
    }

  }
  &__btn {
    padding: 0.6em 1em;
    border: none;
    background-color: red;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
  }
}

