.News {
  text-align: center;
  color: white;
  &__content {
  background-image: url("https://images2.alphacoders.com/123/1239509.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 15rem;
  }
}


