.App{
  background-color: rgb(1, 1, 19);
  padding: 1em;
  code{
    white-space: pre-line;
    color: whitesmoke;
    font-size: 18px;
  }
  button{
    border: 2px solid white;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 12px;
    width: 70px;
    height: 30px;
    background-color:royalblue;
    color: whitesmoke;
    position: absolute;
    top: 250px;
    left: 150px;
  }
}