.Products{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh_3qyPRtyIWE3HV19ssKP6qjkuDtPBS8pvsrVjjKhTQ&s);
    object-fit: cover;
    color: #fff;
    text-align: center;
    h1{
        font-size: 40px;
    }
}