body{
  background-color: magenta;
}

.Products{
  margin-top: 150px;
  &__container{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    & > a{
      padding: 1rem;
      flex-basis: 35%;
      border-radius: 10px;
      text-align: justify;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      h1{
        color: black;
        font-size: 25px;
      }
      img{
        width: 500px;
        height: 200px;
        object-fit: contain;
      }
    }
    h1{
      text-align: center;
      color: #fff;
      font-weight: 700;
      font-size: 3rem;
    }
  }
}
