.App{
  .slick{
    height: 100vh;
    &-arrow{
      background-color: red;
      display: flex;
    }
    &-list{
      width: 100%;
      border: 1px solid black;
    }
    &-track{
      
    }

  }
}