img {
  width: 380px;
  border-right: 2px solid #fff;
}

.App {
  width: 1200px;
  margin: 50px auto;
  background-color: #111;
  padding: 1em;
  color: bisque;
  display: flex;
  gap: 30px;
}

button {
  padding: 0.3rem 1rem;
  width: 150px;
  font-size: 20px;
  border: 0;
  border-radius: 6px;
  background-color: orangered;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

h2 {
  margin-top: 0;
  color: palegreen;
  font-weight: 300;

}

p {
  font-size: 18px;
  line-height: 1.6;
  text-indent: 20px;
  text-align: justify;
  overflow: hidden;
}



.info {
  padding: 0 40px 10px 20px;
}

p.hide {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s;
}

p.active {
  max-height: 250px;
  opacity: 1;
  transition: max-height 0.2s, opacity 0.3s;
}