@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.About1{
  display:flex;
  justify-content: center;
  align-items: center;
} 

.head{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.box{
  position: relative;
  top: 200px;
  right: 100px;
  margin-left: 120px;
  width: 350px;
  height: 400px;
}
.text{
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-top: 40px;
}
.text2{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  margin-top: 40px;
}
button{
  font-size: 14px;
  position:relative ;
  top: 20px;
  left: 120px; 
  border: 0;
  border-bottom: 2px solid black;
}
p.hide{
  max-height: 0;
  transition: max-height 1s;
}
p.active{
  opacity: 0.8;
  max-height: 250px;
  transition: max-height 1s;
}
p{
  overflow: hidden;
}
