.Modal {
  position: fixed;
  z-index: 999;
  inset: 0;
  background-color: rgba($color: #111, $alpha: 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  &__conteiner {
    border-radius: 12px;
    width: 500px;
    height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    h1 {
      color: black;
      text-align: center;
    }
  }

  &__btns {
    padding-top: 100px;
    display: flex;
    gap: 60px;
    justify-content: center;
    text-align: center;
  }

  button {
    background-color: #111;
    font-size: 25px;
    padding: 1em;
    border-radius: 8px;
    color: white;
    border: 0;
    transition: 0.23s;

    &:active {
      scale: 1.05;
    }
  }

}