.App>h1 {
  background-color: teal;
  text-align: center;
  padding: 1em;
  color: #fff;
}

.App h1 span {
  color: orange;
  font-size: 1.6em;
}

.App>button {
  padding: 0.6rem 1rem;
  font-size: 18px;
  border-radius: 4px;
  background-color: royalblue;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.App>button:active {
  scale: 0.96;
  background-color: rgb(54, 87, 185);
}