* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  color: beige;
  background-color: #1d1d1d;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.devider {
  height: 100%;
  flex-grow: 1;
}