@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  height: 98vh;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: #fff7d4;
  /* overflow: hidden; */
}
