* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  background-image: url(https://media.istockphoto.com/id/1455562255/photo/encryption-your-data-unique-digital-lock-big-data-security-safe-your-data-cyber-internet.jpg?s=2048x2048&w=is&k=20&c=7lD38pmm_d5lage9khjdF-sVzeGq4nDmpRh0UPfb-ok=);
}

a {
  text-decoration: none;
}