@import url(https://fonts.googleapis.com/css?family=Raleway:300,regular,500,600,700,800,900);
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  background-color: #252525;
  overflow-x: hidden;
  color: whitesmoke;
}

a {
  text-decoration: none;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 30px; 
}

.title {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 2rem;
  text-align: center;
}
