@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');

.Table {
  padding-left: 3rem;
  font-family: sans-serif;
  font-weight: 400;
  &__list {
    min-width: 720px;
    border-collapse: collapse;
   &__head > tr > th{
    text-align: left;
    font-size: 18px;
    padding: 1em;
    border-top: 1px solid rgb(174, 174, 174) ;
    border-bottom: 1px solid rgb(174, 174, 174);
    
   }
   &__body > tr > td {
    padding: 1em;
    border-bottom: 1px solid rgb(174, 174, 174);
    
   }
   &__body > tr > td > button{
      background-color: rgb(214, 0, 0);
      border: 0;
      color: #fff;
      border-radius: 4px;
      padding: 1em;
      
   }
  }
}