.slick {
  width: 1440px;
  margin: 50px auto;
  &-slider {
    height: 800px;
  }
  &-list {
    height: 100%;
  }
  &-track {
    height: 100%;
  }
  &-slide {
    height: 90%;
    div {
      height: 100%;
      margin: 20px;
      .planet {
        position: relative;
        height: 100%;
        div {
          background-color: rgba(156, 186, 212, 0.754);
          z-index: 11;
          position: absolute;
          padding: 2em;
          top: 20px;
          left: 20px;
          width: 60ch;
          border-radius: 6px;
          height: 300px;
        }
        img {
          transition: 1s;
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          inset: 0 0 0 0;
          scale: 0.9;
          border: 2px solid #fff;
        }
      }
    }
  }
  &-dots {
    bottom: -35px;
    li {
      button {
        &:before {
          font-size: 30px;
        }
      }
    }
  }
  &-center {
    & > div {
      div {
        outline: 10px solid orange;

        img {
          transition: 3s;
          scale: 1 !important;
          border: 0px solid transparent !important;
        }
      }
    }
  }
}

.slick-prev:before,
.slick-next:before {
  color: #dd1515;
  font-size: 40px;
}

.slider-container {
  margin-top: 50px;
}
