.Posts {
  padding: 1em;
  &__title {
    margin-bottom: 1em;
  }
  
  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  
    & > div {
      border: 1px solid black;
      border-radius: 8px;
      padding: 1em;
      display: flex;
      flex-direction: column;
      gap: 18px;
      padding-left: 1em;

      & > h2 {
      text-transform: capitalize;
    }

    & > p {
      font-size: 16px;
    }
    }
    
  }
}