body{
  background-color: rgb(3, 3, 27);
  color: whitesmoke;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  button{
    font-weight: 700;
    border-radius: 12px;
    width: 250px;
    height: 40px;
    background-color: indigo;
    color: whitesmoke;
    font-size: 15px;
    margin: 20px;
    border: 0;
    text-align: center;
  }
}