.App {
  &__title {
    margin: 1em;
    font-size: 40px;
    background-color: #111;
    color: #fff;
    padding: 1em;
    min-width: 500px;
    text-align: center;
    border-radius: 14px;
  }

  h2 {
    text-align: center;
  }

  h3 {
    margin-left: 2em;
  }

  &__Goods {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    .form {
      border: 1px solid black;
      min-width: 600px;
      border-radius: 16px;
      padding: 1em;
      box-shadow:
        rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin: 20px auto;
      width: 500px;

      &__sell {
        border: 0;
        padding: 0.3em;
        color: #fff;
        border-radius: 12px;
        background-color: #111;
        font-size: 24px;
      }
      &__group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 16px;
        font-size: 20px;
        input {
          border: 1px solid black;
          border-radius: 8px;
          font-size: 20px;
          padding: 1rem;
        }
      }
    }
  }
}

.Goods {
  .bi-x-square-fill {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: rgb(255, 21, 0);
  }
  position: relative;
  border-radius: 12px;
  padding: 1em;
  border: 1px solid black;
  &__img {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }

  &__sofa {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__textAndPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
  }

  &__price {
    background-color: rgb(255, 242, 0);
    padding: 0.6em;
    border-radius: 8px;
    position: relative;
    font-size: 24px;
  }

  &__price::after {
    content: "$";
    margin-left: 2px;
    top: 10px;
    font-size: 12px;
    position: absolute;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__edit {
    display: flex;
    justify-content: end;

    i {
      font-size: 24px;
    }
  }

  &__desc {
    text-align: justify;
  }
}

i {
  cursor: pointer;
}

textarea {
  resize: none;
}

.Edit {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
  }
}
